services:
  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome
    networks:
      - AAA_LAN
    volumes:
      - ${PWD}/config:/config
      - ${DOCKER_VOLUMES}/ESPHome/.esphome:/config/.esphome # Put build directory outside of the project folder.
      - /etc/localtime:/etc/localtime:ro
    restart: no

networks:
  AAA_LAN:
    name: AAA_LAN
    external: true