packages:
  - !include common/components/base.yaml
  - !include common/components/ha_api_secure.yaml
  - !include common/components/webserver.yaml

esphome:
  name: ep
  comment: ESP32 Testing Device and Playground
  friendly_name: ESP Playground

esp32:
  board: esp32dev
  framework:
    type: esp-idf

sensor:
  - platform: ntc
    id: temperature_sensor
    name: Thermistor
    icon: mdi:thermometer
    sensor: resistance_sensor
    calibration:
      - 24kOhm -> 6.3°C
      - 11.68kOhm -> 23.35°C
      - 3.89kOhm -> 48.3°C
  - platform: resistance
    id: resistance_sensor
    sensor: source_thermistor_sensor
    configuration: DOWNSTREAM
    reference_voltage: 3.3V
    resistor: 10kOhm
    name: Resistance Sensor
  - platform: adc
    id: source_thermistor_sensor
    pin: GPIO32
    attenuation: auto
    update_interval: never

switch:
  - platform: gpio
    pin: GPIO23
    id: thermistor_vcc
    internal: true
  - platform: gpio
    pin: GPIO2
    name: Onboard LED
    id: onboard_led
    icon: mdi:led-on
    restore_mode: DISABLED

# Update thermistor each minute. Thermistor is only powered while reading to prevent self heating.
interval:
  - interval: 60s
    then:
      - switch.turn_on: thermistor_vcc
      - component.update: source_thermistor_sensor
      - switch.turn_off: thermistor_vcc
