packages:
  - !include esp8266_esp01_1m.yaml
  - !include components/rgb_light.yaml
  - !include components/rgb_ir_remote.yaml

substitutions:
  device_description: Magic Home Wifi RGB LED Controller
  # rgb_ir_remote
  ir_receiver_pin: GPIO4
  # rgb_ir_remote and rgb_light
  light_id: leds
  # rgb_light
  output_red: output_red
  output_green: output_green
  output_blue: output_blue

output:
  - platform: esp8266_pwm
    id: ${output_red}
    pin: GPIO5
  - platform: esp8266_pwm
    id: ${output_green}
    pin: GPIO12
  - platform: esp8266_pwm
    id: ${output_blue}
    pin: GPIO13
