packages:
  - !include esp8266_esp01_1m.yaml
  - !include components/rgb_ir_remote.yaml

substitutions:
  device_description: Magic Home Wifi RGB LED Controller
  # For rgb_ir_remote
  ir_receiver_pin: GPIO4
  light_id: leds

output:
  - platform: esp8266_pwm
    id: output_red
    pin: GPIO5
  - platform: esp8266_pwm
    id: output_green
    pin: GPIO12
  - platform: esp8266_pwm
    id: output_blue
    pin: GPIO13

light:
  - platform: rgb
    name: Controller
    id: ${light_id}
    red: output_red
    green: output_green
    blue: output_blue
    restore_mode: RESTORE_DEFAULT_OFF
    effects:
      - lambda:
          name: "Color Wheel"
          update_interval: 80ms
          lambda: |-
            struct timeval tv;
            gettimeofday(&tv, NULL);
            uint32_t ms = (tv.tv_sec % 60) * 1000 + (tv.tv_usec / 1000); // Time based color calculation enables effect synchronization across devices

            float hue = ms * 0.006f; // 360 degrees / 60000 ms = 0.006 degrees per ms = 1 color wheel rotation per minute
            float r, g, b;
            hsv_to_rgb(hue, 1.0, 1.0, r, g, b);

            auto call = id(${light_id}).turn_on();
            call.set_transition_length(160); // 2x update_interval
            call.set_publish(false);
            call.set_rgb(r, g, b);
            call.perform();
