packages:
  - !include esp8266_esp01_1m.yaml
  - !include components/rgb_ir_remote.yaml

substitutions:
  device_description: Magic Home Wifi RGB LED Controller
  # For rgb_ir_remote
  ir_receiver_pin: GPIO4
  light_id: leds

output:
  - platform: esp8266_pwm
    id: output_red
    pin: GPIO5
  - platform: esp8266_pwm
    id: output_green
    pin: GPIO12
  - platform: esp8266_pwm
    id: output_blue
    pin: GPIO13

light:
  - platform: rgb
    name: Controller
    id: ${light_id}
    red: output_red
    green: output_green
    blue: output_blue
    restore_mode: RESTORE_DEFAULT_OFF
