packages:
  - !include esp8266_esp01_1m.yaml
  - !include components/rgb_ir_remote.yaml
  - !include components/time.yaml

substitutions:
  device_description: Magic Home Wifi RGB LED Controller
  # For rgb_ir_remote
  ir_receiver_pin: GPIO4
  light_id: leds

output:
  - platform: esp8266_pwm
    id: output_red
    pin: GPIO5
  - platform: esp8266_pwm
    id: output_green
    pin: GPIO12
  - platform: esp8266_pwm
    id: output_blue
    pin: GPIO13

light:
  - platform: rgb
    name: Controller
    id: ${light_id}
    red: output_red
    green: output_green
    blue: output_blue
    restore_mode: RESTORE_DEFAULT_OFF
    effects:
      - lambda:
          name: "Color Loop"
          update_interval: 1s
          lambda: |-
            int loop_seconds = 60;

            auto now = id(ha_time).now();
            if (!now.is_valid()) return;

            float hue = (now.timestamp % loop_seconds) * (360.0f / loop_seconds);

            float r, g, b;
            hsv_to_rgb(hue, 1.0, 1.0, r, g, b);

            auto call = id(${light_id}).turn_on();
            call.set_transition_length(1000); 
            call.set_rgb(r, g, b);
            call.perform();
