packages:
  - !include components/base.yaml
  - !include components/esp_wifi_min_auth.yaml
  - !include components/rgb_ir_remote.yaml

# For rgb_ir_remote
substitutions:
  ir_receiver_pin: GPIO4
  light_id: leds

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}
  comment: ${device_description}

esp8266:
  board: esp01_1m

output:
  - platform: esp8266_pwm
    id: output_red
    pin: GPIO5
  - platform: esp8266_pwm
    id: output_green
    pin: GPIO12
  - platform: esp8266_pwm
    id: output_blue
    pin: GPIO13

light:
  - platform: rgb
    name: Controller
    id: ${light_id}
    red: output_red
    green: output_green
    blue: output_blue
    restore_mode: RESTORE_DEFAULT_OFF
